/* .regular {
  font-weight: 700;
}
.bold {
  font-weight: 800;
}
.extra-bold {
  font-weight: 400;
} */

.all-black {
  background-color: black;
}
.line-under-purple {
  display: inline;
  border-bottom: 3px solid #7209b7;
}
.line-under-blue {
  display: inline;
  border-bottom: 3px solid #4cc9f0;
}
.line-under-pink {
  display: inline;
  border-bottom: 3px solid #f72585;
}
